### Research Questions

- What are the funding trends by sector and across different countries?

- Which are the top 5 startups with the highest funding amounts in the top 10 funded sectors?

- Which sectors have the highest Average Funding Amounts (Top 6)?

- Is there any evidence of a funding bubble or funding winter in certain years?

- The funding size and share of funding of companies per their current status?

- Which companies IPOed and how much did they raise?

- What is the distribution of funding raised by companies across the world?

- Which companies raised significant funding but are currently shut down?

**Import Libraries**

In [1]:
import pandas as pd

**Load the dataset**

In [2]:
df = pd.read_csv('companies.csv')

In [3]:
df.head()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN

**Data preprocessing**

In [4]:
# Checking the columns of the dataframe

df.shape

(196553, 44)

In [6]:
# Check the columns 

df.columns

Index(['id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'parent_id', 'name',
       'normalized_name', 'permalink', 'category_code', 'status', 'founded_at',
       'closed_at', 'domain', 'homepage_url', 'twitter_username', 'logo_url',
       'logo_width', 'logo_height', 'short_description', 'description',
       'overview', 'tag_list', 'country_code', 'state_code', 'city', 'region',
       'first_investment_at', 'last_investment_at', 'investment_rounds',
       'invested_companies', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'created_by',
       'created_at', 'updated_at', 'lat', 'lng', 'ROI'],
      dtype='object')

In [7]:
# List of required columns to keep from the DataFrame
required_columns = ['name', 'permalink', 'category_code', 'funding_total_usd', 'status', 'country_code', 'state_code', 'region', 'city',
                    'funding_rounds', 'founded_at']

# Filter the DataFrame to include only the required columns
df = df[required_columns]

In [8]:
# Display the first few rows of the DataFrame

df.head()

,name,permalink,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at
0,Wetpaint,/company/wetpaint,web,39750000.0,operating,USA,WA,Seattle,Seattle,3.0,2005-10-17
1,Flektor,/company/flektor,games_video,NaN,acquired,USA,CA,Los Angeles,Culver City,NaN,NaN
2,There,/company/there,games_video,NaN,acquired,USA,CA,SF Bay,San Mateo,NaN,NaN
3,MYWEBBO,/company/mywebbo,network_hosting,NaN,operating,NaN,NaN,unknown,NaN,NaN,2008-07-26
4,THE Movie Streamer,/company/the-movie-streamer,games_video,NaN,operating,NaN,NaN,unknown,NaN,NaN,2008-07-26

In [12]:
# Check and print the number of duplicated rows in the DataFrame and counts how many there are

print(f"The number of duplicated values are {df.duplicated().sum()}")

The number of duplicated values are 38

In [13]:
# Drop duplicate rows from the DataFrame in place

df.drop_duplicates(inplace=True)

In [15]:
# Checking how many duplicated rows are present in the dataframe

df.duplicated().sum()

0

In [17]:
df['funding_total_usd'].isnull().sum()

168641

In [18]:
df.dropna(subset=['funding_total_usd'], inplace=True)

In [19]:
df['funding_total_usd'].isnull().sum()

0

In [20]:
df.head()

,name,permalink,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at
0,Wetpaint,/company/wetpaint,web,39750000.0,operating,USA,WA,Seattle,Seattle,3.0,2005-10-17
13,FriendFeed,/company/friendfeed,web,5000000.0,acquired,USA,CA,SF Bay,Mountain View,1.0,2007-10-01
19,Fitbit,/company/fitbit,health,68069200.0,operating,USA,CA,SF Bay,San Francisco,5.0,2007-10-01
20,MTPV,/company/mtpv,cleantech,10125293.0,operating,USA,TX,Austin,Austin,3.0,2003-01-01
24,Demandbase,/company/demandbase,analytics,33000000.0,operating,USA,CA,SF Bay,San Francisco,3.0,2006-01-01

In [21]:
df.shape

(27874, 11)

**Rename category column**

In [22]:
df.rename(columns = {'category_code': 'sector'}, inplace = True)

In [23]:
df.head()

,name,permalink,sector,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at
0,Wetpaint,/company/wetpaint,web,39750000.0,operating,USA,WA,Seattle,Seattle,3.0,2005-10-17
13,FriendFeed,/company/friendfeed,web,5000000.0,acquired,USA,CA,SF Bay,Mountain View,1.0,2007-10-01
19,Fitbit,/company/fitbit,health,68069200.0,operating,USA,CA,SF Bay,San Francisco,5.0,2007-10-01
20,MTPV,/company/mtpv,cleantech,10125293.0,operating,USA,TX,Austin,Austin,3.0,2003-01-01
24,Demandbase,/company/demandbase,analytics,33000000.0,operating,USA,CA,SF Bay,San Francisco,3.0,2006-01-01

In [25]:
# Convert the 'name' and 'city' columns to lowercase using the apply() function with a lambda
df[['name', 'city']] = df[['name', 'city']].apply(lambda x: x.str.lower())

# Display the first few rows of the updated DataFrame to verify changes
df.head()

,name,permalink,sector,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at
0,wetpaint,/company/wetpaint,web,39750000.0,operating,USA,WA,Seattle,seattle,3.0,2005-10-17
13,friendfeed,/company/friendfeed,web,5000000.0,acquired,USA,CA,SF Bay,mountain view,1.0,2007-10-01
19,fitbit,/company/fitbit,health,68069200.0,operating,USA,CA,SF Bay,san francisco,5.0,2007-10-01
20,mtpv,/company/mtpv,cleantech,10125293.0,operating,USA,TX,Austin,austin,3.0,2003-01-01
24,demandbase,/company/demandbase,analytics,33000000.0,operating,USA,CA,SF Bay,san francisco,3.0,2006-01-01

**Store cleanned data into a new csv file**

In [26]:
df.to_csv('cleanned_companies_data.csv', index = False)